
/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}
body {
    font-family: public sans;
    font-size: 10px;
    line-height: 30px;
    background-color:#fefefe ;
    color: #000D1A;
    margin: 0 50px 500px 50px;
}
h2{
    text-align: center;
}
#radio{
    width: 10%;
}
button {
    background-color: rgb(16, 16, 165); /* Green */
    border: none;
    color: white;
    padding: 10px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:2% 0 0 40%;

}

.contact-container {
    margin-left: 34%;
    width: 30%;
    padding-left: 5%;
    line-height: 1.4;
    text-align: left;
    border: solid 1px;
    border-color: #70879f;
    box-shadow: 5px 10px #70879f;
}
/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
  margin-left: 25%;
  width: 50%;
}
a {
    color: blue;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
    margin-left: 30%;
}

.crumb {
    display: inline-block;
    font-size: 1rem;
    color: orange;
    margin-bottom: 0;
}

#submit{
    background-color: rgb(16, 16, 165); /* Green */
    border: none;
    color: white;
    padding: 10px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:2% 0 0 25%;
    width: 50%;
}
